@{
    ViewData["Title"] = "Home Page";
}

<div id="divBody" class="divBody">
    <div id="divEsquerda" class="secoesBody">
        dd
    </div>
    <div id="divDireita" class="secoesBody">
        <div id="cabecalhoCard" class="itemCard">-</div>
        <div id="textoCard" class="itemCard">-</div>
        <div id="rodapeCard" class="itemCard"></div>
        <div id="rodapeEsquerda" class="itemRodape">
            <span class="material-symbols-outlined botoesNavegar">
                arrow_circle_left
            </span>
        </div>
    </div>
</div>  