@{
    ViewData["Title"] = "Home Page";
}
<div id="divBody" class="divBody">
    <div id="divEsquerda" class="secoesBody"> aa
    </div>
    <div id="divDireita" class="secoesBody"> 
        <div id="cabecalhoCard" class="itemCard"></div>
        <div id="textoCard" class="itemCard"></div>
        <div id="rodapeCard" class="itemCard">
            
            <span class="material-symbols-outlined" style="height:100px; width:875px;">
                arrow_circle_left
            </span>
            <span class="material-symbols-outlined">
                arrow_circle_right
            </span>
        </div>
    </div>
</div>