html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.footer{
    position:absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px;
}

#divBody{
    display: flex;
    height: 650px;
}

#divEsquerda{
    width: 25%;
    height: 650px;
    padding: 40px 10px 10px 10px;
}


#divDireita {
    width: 75%;
    height: 650px;
    border-radius: 60px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    padding-top: 20px;
    display:flex;
    flex-direction:column;
}

.secoesBody{
    background-color: rgb(41, 222, 255);
    margin: 2px 2px 2px 2px;
}

.itemCard {
    background-color: rgb(147, 227, 242);
    margin: 2px 2px 2px 2px;
    border-radius: 20px;
}

#cabecalhoCard {
    height: 10%;
}
#textoCard{
    height:80%;
}

#rodapeCard {
    height: 10%;
    padding-top: 20px;
    display:flex;
    flex-direction:row;
}


.setaEsquerda{
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 48;

}

#rodapeEsquerda {

    width:20px;
    float: left;
}
#rodapeDireita {

    width: 20px;
    float: right;
}
