@{
    ViewData["Title"] = "Home Page";
}

<div  id="divBody" class="divBody">
    <div id="divEsquerda" class="secoesBody"> 

    </div>
    <div id="divDireito" class="secoesBody"> 
      <div id="cabecalhoCard"class="itemCard">-</div>
      <div id="textoCard"class="itemCard">-</div>
      <div id="rodapeCard" class="itemCard">-</div>
     
      <span class="material-symbols-outlined botoesNavegar">
         arrow_circle_left
       </span>

    </div>
    <div id="rodapeCentro" class= "itemrodape" ></div>

     <div id="rodapecentro" class= "itemrodape"></div>

</div>
