@{
    ViewData["Title"] = "Home Page";
}

<div id="divBody" class="divBody">
    <div id="divEsquerda" class="secoesBody">
       
    </div>
    <div id="divDireitoCard" class="secoesBody">
        <div id="cabecalhoDard" class="itemCard">-</div>
        <div id="textCard" class="itemCard">-</div>
        <div id="rodapeCard" class="itemCard">
            <span class="material-symbols-outlined">
                arrow_back_ios
            </span>
            <span class="material-symbols-outlined">
                arrow_forward
            </span>
        </div>
    </div>
</div>
