@{
    ViewData["Title"] = "Home Page";
}

<div id="divBody" class="divBody">
    <div id="divEsquerda" class="secoesBody">
        dd
    </div>
    <div id="divDireita" class="secoesBody">
        <div id="cabecalhoCard" class="itemCard">-</div>
        <div id="textoCard" class="itemCard">-</div>
        <div id="rodapeCard" class="itemCard">-</div>

        <div id="rodapeEsquerda" class="itemCard">
            <span class="material-symbols-outlined botoesNavegar" >
                arrow_circle_left
            </span>

        </div>

        <div id="rodapeCentro" class="itemCard"> </div>

        <div id="rodapeDireita" class="itemCard">
            <span class="material-symbols-outlined botoesNavegar">
                arrow_circle_right
            </span>

        </div>
    </div>
</div>